{
  "all": true,
  "temp-dir": "./target/.nyc_output",
  "report-dir": "./target/coverage",
  "include": [
    "target/api/**/*.js"
  ],
  "exclude": [
    "target/api/color/index.js",
    "target/api/color/run.js",
    "target/api/refresh/index.js"
  ],
  "exclude-after-remap": false,
  "reporter": [
    "lcov",
    "text-summary"
  ]
}
