{
  "all": true,
  "temp-dir": "target/.nyc_output",
  "report-dir": "target/coverage",
  "cache-dir": "target/.cache",
  "exclude-after-remap": false,
  "extension": [".ts"],
  "include": ["api/**/*.ts"],
  "exclude": [
    "api/color.ts",
    "api/_color/run.ts",
    "api/refresh.ts"
  ],
  "require": ["ts-node/register/transpile-only"],
  "reporter": [
    "lcov",
    "text",
    "clover"
  ]
}
