body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

p.errorMessage {
  color: red;
}
