@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: #6504d4;
  background: linear-gradient(to bottom, #6504d4, #42024b);
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

div.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

p.errorMessage {
  color: red;
}

svg.lightBulb {
  height: 50vh;
}

@keyframes power {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

svg.lightBulb > .lightBulbWire {
  animation: power 1s ease infinite;
}

footer {
  bottom: 1rem;
  color: white;
  font-size: 0.7rem;
  position: absolute;
}

footer a {
  color: #ececec;
}
